<!-- website sliding page towards right -->
<script src="js/animation/anim_sidebar.js"></script>
<div id="extended-page-news" class="extended-page">
		<div class="news-section">
			<h3>Early Bird parking</h3>
			<div class="row">
				<div class="col-md-5">
					<img src="img/news1.png" class="img-news">
				</div>
				<div class="col-md-6">
					<p class="p-news">The early bird gets the worm! Check out our affordable Early Bird Parking offers and times across our UParks located within Adelaide CBD.</p>
				</div>
			</div>
		</div>
		<div class="news-section">
			<h3>Night parking</h3>
			<div class="row">
			<div class="col-md-5">
					<img src="img/news2.png" class="img-news">
				</div>
				<div class="col-md-6">
					<p class="p-news">Save while you are out and about in the City with our great night parking flat rates across most UParks. With our car parks in convenient locations, night parking has been made easy for you.</p>
				</div>
				
			</div>
		</div>
		<div class="news-section">
			<h3>Weekend parking</h3>
			<div class="row">
				<div class="col-md-5">
					<img src="img/news3.png" class="img-news">
				</div>
				<div class="col-md-6">
					<p class="p-news">Coming into the City over the weekend is now easy for both individuals and families. UPark offers affordable and convenient car parking across the City. You will also enjoy flat rates in some of the UParks.</p>
				</div>
			</div>
		</div>
</div>